<!DOCTYPE html>
<html>
<body>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>

  html, body {
    height:100%;
    margin: 0px;
    color: #ffffff;
}

.page {
  height: 100%;
  margin-top:0;
  background-color: #181B18;
  font-family: "Inconsolata";
}
  
</style>

<div class="page">
  <div class="output">
<center>
  <h2>Nicsena's Terminal BETA Commands</h2>
    </center>
    </div>
  
  <div class="availablecmds">
      <center><h3>Available Commands: HELP, CMDS, ABOUT, PWD, WHOAMI, LS</h3></center>
  </div>
  
    <div class="notice">
      <center><h4>*Notice: Since this is a live demo of Nicsena's Terminal, commands are limited to prevent abuse or destroying of the project itself.</43></center>
  </div>

</body>
</html>
