<!DOCTYPE html>
<html>
<body>
  
  <title>Terminal</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  
  <script src="/js/websocket.js"></script>
  <link rel="stylesheet" href="/css/style.css">

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  

  
<div id="page" name="page" class="container p-3 my-3 no-border">
  
<%- include('header'); -%>
  
  <h4 style="text-align:center;">Updates:</h4>
  
<br>
  
  <div id="card" class="card text-light bg-dark border border-dark rounded">
  <div class="card-body">
   
    <h5>1.0.1 Release</h5>
    <h6>Released: Janurary 5, 2022</h6>
    <br>
    <p>Server:</p>
    <p>- Command output is now getting sent while the command is running instead of getting sent after the command ran.</p>
    <p>- command and command PID is now getting sent along with output from command that is running.</p>
    <br>    
    <p>Client:</p>
    <p>- Added Kill Process button</p>
    <p>- Clear Console Button Added</p>
    <p>- 5 Second Ping Loop to keep websocket connection alive.</p>
    <p>- Command History</p>


  </div>
</div>
  
  
  
<div id="card" class="card text-light bg-dark border border-dark rounded">
  <div class="card-body">
   
    <h5>1.0.0 Release</h5>
    <h6>Released: November 20, 2022</h6>
    
    <p>- Initial Release 


  </div>
</div>
 


<div style="margin-top:10px; margin-bottom:10px; text-align:center;">
  <a href="/">Click here to return to the home page.</a>
</div>
  
  
  
</div>
  
  
<%- include('footer'); -%>
  

</body>
</html>
